NODE_ENV="development"
DATABASE_URL="file:./prisma/dev.db"
NHL_API_BASE_URL="https://statsapi.web.nhl.com/api/v1"

## Cache configuration
REDIS_HOST=localhost
REDIS_PORT=6379
CACHE_TTL_SECONDS=1440 # 1 day in seconds
CACHE_MAX_ITEMS=100