# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Build output
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Prisma
# =========================
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# (optional: keep migrations if using production)
# prisma/migrations/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Coverage / tests
# =========================
coverage/

# =========================
# Docker
# =========================
docker-compose.override.yml
/generated/prisma
